// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@highlight-color: #0098F0;

.mei-tools-atom {
    #verovio-svg {
        background-color: #FFF;
        color: #000;
        text-align: center;
        overflow: scroll;
        width: 100%;
        padding: 1rem 2rem;
        height: 100%;

        g.highlighted, g.highlighted * {
            fill: @highlight-color;
            color: @highlight-color;
            stroke: @highlight-color;
        }
    }

    #verovio-controls-form {
        padding: .5rem 1rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.1);

        input[type="range"], input[type="color"] {
            max-width: 100%;
            display: inline-block;
            margin: 0 1rem;
            vertical-align: middle;
        }

        input[type="range"] {
            width: auto;
        }

        label {
            margin-left: 1rem;
        }
    }

    .hidden {
        display: none;
    }
}
